<body>
<div class="bg-video-wrap">
  <video src="pixta.mp4" loop muted autoplay>
  </video>
  <div class="overlay">
  </div>
  <h1>Individual App
  </h1>
</div>
<div class="wrapper">
  <div class="header">
    <h1>Code Searcher</h1>
  </div>
  <div class="content">
    <div class="content-code_box_top">
      <p>▼ 検索したい音を選んでください。</p>
      <div class="code-box-up">
        <div class="choose-code__1">
          <button class="btn-flat-border btnC">C</button>
        </div>
        <div class="choose-code__2">
          <button class="btn-flat-border btnCsha">C#</button>
        </div>
        <div class="choose-code__3">
          <button class="btn-flat-border btnD">D</button>
        </div>
        <div class="choose-code__4">
          <button class="btn-flat-border btnDsha">D#</button>
        </div>
        <div class="choose-code__5">
          <button class="btn-flat-border btnE">E </button>
        </div>
        <div class="choose-code__6">
          <button class="btn-flat-border btnF">F </button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="choose-code__7">
          <button class="btn-flat-border btnFsha">F#</button>
        </div>
        <div class="choose-code__8">
          <button class="btn-flat-border btnG">G </button>
        </div>
        <div class="choose-code__9">
          <button class="btn-flat-border btnGsha">G#</button>
        </div>
        <div class="choose-code__10">
          <button class="btn-flat-border btnA">A </button>
        </div>
        <div class="choose-code__11">
          <button class="btn-flat-border btnAsha">A#</button>
        </div>
        <div class="choose-code__12">
          <button class="btn-flat-border btnB">B </button>
        </div>
      </div>
    </div>
    <div class="content-code_box_middle">
      <p>▼ 組み合わせたい音を選んでください。</p>
      <div class="code-box-up">
        <div class="add-code1">
          <button class="btn-flat-border btnmaj">maj</button>
        </div>
        <div class="add-code2">
          <button class="btn-flat-border btnm">m</button>
        </div>
        <div class="add-code3">
          <button class="btn-flat-border btn7">7</button>
        </div>
        <div class="add-code4">
          <button class="btn-flat-border btnCmaj7">maj7</button>
        </div>
        <div class="add-code5">
          <button class="btn-flat-border btnm7">m7</button>
        </div>
        <div class="add-code6">
          <button class="btn-flat-border btnm7-5">m7-5</button>
        </div>
        <div class="add-code7">
          <button class="btn-flat-border btnsus4">sus4</button>
        </div>
        <div class="add-code8">
          <button class="btn-flat-border btn7sus">7sus4</button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="add-code9">
          <button class="btn-flat-border btn6">6</button>
        </div>
        <div class="add-code10">
            <button class="btn-flat-border btnm6">m6</button>
          </div>
        <div class="add-code11">
            <button class="btn-flat-border btnadd9">add9</button>
          </div>
        <div class="add-code12">
            <button class="btn-flat-border btn7-9">7(9)</button>
          </div>
        <div class="add-code13">
            <button class="btn-flat-border btnm79">m7(9)</button>
          </div>
        <div class="add-code14">
            <button class="btn-flat-border btndim">dim</button>
          </div>
        <div class="add-code15">
            <button class="btn-flat-border btnaug">aug</button>
          </div>
      </div>
    </div>
    <div class="content-code_box_bottom">
      <img id='codeA' src="/コード表/A/A6.jpg">
      <img id='codeA' src="/コード表/A/A7.jpg">
      <img id='codeA' src="/コード表/A/A7add9.jpg">
      <img id='codeA' src="/コード表/A/A7sus4.jpg">
      <img id='codeA' src="/コード表/A/Aadd9.jpg">
      <img id='codeA' src="/コード表/A/Aaug.jpg">
      <img id='codeA' src="/コード表/A/Adim.jpg">
      <img id='codeA' src="/コード表/A/AM.jpg">
      <img id='codeA' src="/コード表/A/Am7-5.jpg">
      <img id='codeA' src="/コード表/A/AM7.jpg">
      <img id='codeA' src="/コード表/A/Am7add9.jpg">
      <img id='codeA' src="/コード表/A/Amin.jpg">
      <img id='codeA' src="/コード表/A/Amin6.jpg">
      <img id='codeA' src="/コード表/A/Amin7.jpg">
      <img id='codeA' src="/コード表/A/Asus4.jpg">
      <img id='codeAsha' src="/コード表/Asha/Asha6.jpg">
      <img id='codeAsha' src="/コード表/Asha/Asha7.jpg">
      <img id='codeAsha' src="/コード表/Asha/Asha7add9.jpg">
      <img id='codeAsha' src="/コード表/Asha/Asha7sus4.jpg">
      <img id='codeAsha' src="/コード表/Asha/Ashaadd9.jpg">
      <img id='codeAsha' src="/コード表/Asha/Ashaaug.jpg">
      <img id='codeAsha' src="/コード表/Asha/Ashadim.jpg">
      <img id='codeAsha' src="/コード表/Asha/AshaM.jpg">
      <img id='codeAsha' src="/コード表/Asha/Asham7-5.jpg">
      <img id='codeAsha' src="/コード表/Asha/AshaM7.jpg">
      <img id='codeAsha' src="/コード表/Asha/Asham7add9.jpg">
      <img id='codeAsha' src="/コード表/Asha/Ashamin.jpg">
      <img id='codeAsha' src="/コード表/Asha/Ashamin6.jpg">
      <img id='codeAsha' src="/コード表/Asha/Ashamin7.jpg">
      <img id='codeAsha' src="/コード表/Asha/Ashasus4.jpg">
      <img id='codeB' src="/コード表/B/B6.jpg">
      <img id='codeB' src="/コード表/B/B7.jpg">
      <img id='codeB' src="/コード表/B/B7add9.jpg">
      <img id='codeB' src="/コード表/B/B7sus4.jpg">
      <img id='codeB' src="/コード表/B/Badd9.jpg">
      <img id='codeB' src="/コード表/B/Baug.jpg">
      <img id='codeB' src="/コード表/B/Bdim.jpg">
      <img id='codeB' src="/コード表/B/BM.jpg">
      <img id='codeB' src="/コード表/B/Bm7-5.jpg">
      <img id='codeB' src="/コード表/B/BM7.jpg">
      <img id='codeB' src="/コード表/B/Bm7add9.jpg">
      <img id='codeB' src="/コード表/B/Bmin.jpg">
      <img id='codeB' src="/コード表/B/Bmin6.jpg">
      <img id='codeB' src="/コード表/B/Bmin7.jpg">
      <img id='codeB' src="/コード表/B/Bsus4.jpg">
      <img id='codeC' src="/コード表/C/Csha6.jpg">
      <img id='codeC' src="/コード表/C/Csha7.jpg">
      <img id='codeC' src="/コード表/C/Csha7add9.jpg">
      <img id='codeC' src="/コード表/C/Csha7sus4.jpg">
      <img id='codeC' src="/コード表/C/Cshaadd9.jpg">
      <img id='codeC' src="/コード表/C/Cshaaug.jpg">
      <img id='codeC' src="/コード表/C/Cshadim.jpg">
      <img id='codeC' src="/コード表/C/CshaM.jpg">
      <img id='codeC' src="/コード表/C/Csham7-5.jpg">
      <img id='codeC' src="/コード表/C/CshaM7.jpg">
      <img id='codeC' src="/コード表/C/Csham7add9.jpg">
      <img id='codeC' src="/コード表/C/Cshamin.jpg">
      <img id='codeC' src="/コード表/C/Cshamin6.jpg">
      <img id='codeC' src="/コード表/C/Cshamin7.jpg">
      <img id='codeC' src="/コード表/C/Cshasus4.jpg">
      <img id='codeCsha' src="/コード表/Csha/Csha6.jpg">
      <img id='codeCsha' src="/コード表/Csha/Csha7.jpg">
      <img id='codeCsha' src="/コード表/Csha/Csha7add9.jpg">
      <img id='codeCsha' src="/コード表/Csha/Csha7sus4.jpg">
      <img id='codeCsha' src="/コード表/Csha/Cshaadd9.jpg">
      <img id='codeCsha' src="/コード表/Csha/Cshaaug.jpg">
      <img id='codeCsha' src="/コード表/Csha/Cshadim.jpg">
      <img id='codeCsha' src="/コード表/Csha/CshaM.jpg">
      <img id='codeCsha' src="/コード表/Csha/Csham7-5.jpg">
      <img id='codeCsha' src="/コード表/Csha/CshaM7.jpg">
      <img id='codeCsha' src="/コード表/Csha/Csham7add9.jpg">
      <img id='codeCsha' src="/コード表/Csha/Cshamin.jpg">
      <img id='codeCsha' src="/コード表/Csha/Cshamin6.jpg">
      <img id='codeCsha' src="/コード表/Csha/Cshamin7.jpg">
      <img id='codeCsha' src="/コード表/Csha/Cshasus4.jpg">
      <img id='codeD' src="/コード表/D/D6.jpg">
      <img id='codeD' src="/コード表/D/D7.jpg">
      <img id='codeD' src="/コード表/D/D7add9.jpg">
      <img id='codeD' src="/コード表/D/D7sus4.jpg">
      <img id='codeD' src="/コード表/D/Dadd9.jpg">
      <img id='codeD' src="/コード表/D/Daug.jpg">
      <img id='codeD' src="/コード表/D/Ddim.jpg">
      <img id='codeD' src="/コード表/D/DM.jpg">
      <img id='codeD' src="/コード表/D/Dm7-5.jpg">
      <img id='codeD' src="/コード表/D/DM7.jpg">
      <img id='codeD' src="/コード表/D/Dm7add9.jpg">
      <img id='codeD' src="/コード表/D/Dmin.jpg">
      <img id='codeD' src="/コード表/D/Dmin6.jpg">
      <img id='codeD' src="/コード表/D/Dmin7.jpg">
      <img id='codeD' src="/コード表/D/Dsus4.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dsha6.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dsha7.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dsha7add9.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dsha7sus4.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dshaadd9.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dshaaug.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dshadim.jpg">
      <img id='codeDsha' src="/コード表/Dsha/DshaM.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dsham7-5.jpg">
      <img id='codeDsha' src="/コード表/Dsha/DshaM7.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dsham7add9.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dshamin.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dshamin6.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dshamin7.jpg">
      <img id='codeDsha' src="/コード表/Dsha/Dshasus4.jpg">
      <img id='codeE' src="/コード表/E/E6.jpg">
      <img id='codeE' src="/コード表/E/E7.jpg">
      <img id='codeE' src="/コード表/E/E7add9.jpg">
      <img id='codeE' src="/コード表/E/E7sus4.jpg">
      <img id='codeE' src="/コード表/E/Eadd9.jpg">
      <img id='codeE' src="/コード表/E/Eaug.jpg">
      <img id='codeE' src="/コード表/E/Edim.jpg">
      <img id='codeE' src="/コード表/E/EM.jpg">
      <img id='codeE' src="/コード表/E/Em7-5.jpg">
      <img id='codeE' src="/コード表/E/EM7.jpg">
      <img id='codeE' src="/コード表/E/Em7add9.jpg">
      <img id='codeE' src="/コード表/E/Emin.jpg">
      <img id='codeE' src="/コード表/E/Emin6.jpg">
      <img id='codeE' src="/コード表/E/Emin7.jpg">
      <img id='codeE' src="/コード表/E/Esus4.jpg">
      <img id='codeF' src="/コード表/F/F6.jpg">
      <img id='codeF' src="/コード表/F/F7.jpg">
      <img id='codeF' src="/コード表/F/F7add9.jpg">
      <img id='codeF' src="/コード表/F/F7sus4.jpg">
      <img id='codeF' src="/コード表/F/Fadd9.jpg">
      <img id='codeF' src="/コード表/F/Faug.jpg">
      <img id='codeF' src="/コード表/F/Fdim.jpg">
      <img id='codeF' src="/コード表/F/FM.jpg">
      <img id='codeF' src="/コード表/F/Fm7-5.jpg">
      <img id='codeF' src="/コード表/F/FM7.jpg">
      <img id='codeF' src="/コード表/F/Fm7add9.jpg">
      <img id='codeF' src="/コード表/F/Fmin.jpg">
      <img id='codeF' src="/コード表/F/Fmin6.jpg">
      <img id='codeF' src="/コード表/F/Fmin7.jpg">
      <img id='codeF' src="/コード表/F/Fsus4.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fsha6.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fsha7.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fsha7add9.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fsha7sus4.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fshaadd9.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fshaaug.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fshadim.jpg">
      <img id='codeFsha' src="/コード表/Fsha/FshaM.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fsham7-5.jpg">
      <img id='codeFsha' src="/コード表/Fsha/FshaM7.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fsham7add9.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fshamin.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fshamin6.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fshamin7.jpg">
      <img id='codeFsha' src="/コード表/Fsha/Fshasus4.jpg">
      <img id='codeG' src="/コード表/G/G6.jpg">
      <img id='codeG' src="/コード表/G/G7.jpg">
      <img id='codeG' src="/コード表/G/G7add9.jpg">
      <img id='codeG' src="/コード表/G/G7sus4.jpg">
      <img id='codeG' src="/コード表/G/Gadd9.jpg">
      <img id='codeG' src="/コード表/G/Gaug.jpg">
      <img id='codeG' src="/コード表/G/Gdim.jpg">
      <img id='codeG' src="/コード表/G/GM.jpg">
      <img id='codeG' src="/コード表/G/Gm7-5.jpg">
      <img id='codeG' src="/コード表/G/GM7.jpg">
      <img id='codeG' src="/コード表/G/Gm7add9.jpg">
      <img id='codeG' src="/コード表/G/Gmin.jpg">
      <img id='codeG' src="/コード表/G/Gmin6.jpg">
      <img id='codeG' src="/コード表/G/Gmin7.jpg">
      <img id='codeG' src="/コード表/G/Gsus4.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gsha6.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gsha7.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gsha7add9.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gsha7sus4.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gshaadd9.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gshaaug.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gshadim.jpg">
      <img id='codeGsha' src="/コード表/Gsha/GshaM.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gsham7-5.jpg">
      <img id='codeGsha' src="/コード表/Gsha/GshaM7.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gsham7add9.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gshamin.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gshamin6.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gshamin7.jpg">
      <img id='codeGsha' src="/コード表/Gsha/Gshasus4.jpg">
      
    </div>

  </div>
  <div class="footer">
    <small>Copyright©️Kanzaki</small>
  </div>
</div>
</body>