<body>

<div class="wrapper">
  <div class="header">
    <h1>Code Searcher</h1>
  </div>
  <div class="content">
    <div class="content-code_box_top">
      <p>▼ 検索したい音を選んでください。</p>
      <div class="code-box-up">
        <div class="choose-code__1">
          <a href="index#codes" class="btn-flat-border">C</a>
        </div>
        <div class="choose-code__2">
          <a href="#" class="btn-flat-border">C#</a>
        </div>
        <div class="choose-code__3">
          <a href="#" class="btn-flat-border">D </a>
        </div>
        <div class="choose-code__4">
          <a href="#" class="btn-flat-border">D#</a>
        </div>
        <div class="choose-code__5">
          <a href="#" class="btn-flat-border">E </a>
        </div>
        <div class="choose-code__6">
          <a href="#" class="btn-flat-border">F </a>
        </div>
      </div>
      <div class="code-box-down">
        <div class="choose-code__7">
          <a href="#" class="btn-flat-border">F#</a>
        </div>
        <div class="choose-code__8">
          <a href="#" class="btn-flat-border">G </a>
        </div>
        <div class="choose-code__9">
          <a href="#" class="btn-flat-border">G#</a>
        </div>
        <div class="choose-code__10">
          <a href="#" class="btn-flat-border">A </a>
        </div>
        <div class="choose-code__11">
          <a href="#" class="btn-flat-border">A#</a>
        </div>
        <div class="choose-code__12">
          <a href="#" class="btn-flat-border">B </a>
        </div>
      </div>
    </div>
    <div class="content-code_box_middle">
      <p>▼ 組み合わせたい音を選んでください。</p>
      <div class="code-box-up">
        <div class="add-code1">
            <a href="#" class="btn-flat-border">maj</a>
        </div>
        <div class="add-code2">
            <a href="#" class="btn-flat-border">m</a>
        </div>
        <div class="add-code3">
            <a href="#" class="btn-flat-border">7</a>
        </div>
        <div class="add-code4">
            <a href="#" class="btn-flat-border">maj7</a>
        </div>
        <div class="add-code5">
            <a href="#" class="btn-flat-border">m7</a>
        </div>
        <div class="add-code6">
            <a href="#" class="btn-flat-border">m7-5</a>
        </div>
        <div class="add-code7">
            <a href="#" class="btn-flat-border">sus4</a>
        </div>
        <div class="add-code8">
            <a href="#" class="btn-flat-border">7sus4</a>
        </div>
      </div>
      <div class="code-box-down">
        <div class="add-code9">
            <a href="#" class="btn-flat-border">6</a>
          </div>
        <div class="add-code10">
            <a href="#" class="btn-flat-border">m6</a>
          </div>
        <div class="add-code11">
            <a href="#" class="btn-flat-border">add9</a>
          </div>
        <div class="add-code12">
            <a href="#" class="btn-flat-border">7(9)</a>
          </div>
        <div class="add-code13">
            <a href="#" class="btn-flat-border">m7(9)</a>
          </div>
        <div class="add-code14">
            <a href="#" class="btn-flat-border">dim</a>
          </div>
        <div class="add-code15">
            <a href="#" class="btn-flat-border">aug</a>
          </div>
      </div>
    </div>
    <div class="content-code_box_bottom">
      <%=image_tag"AM-1.png", alt:"Amaj"%>
      
    
    </div>

  </div>
  <div class="footer">
    <small>Copyright©️Kanzaki</small>
  </div>
</div>
</body>