<body>
<div class="bg-video-wrap">
  <video src="pixta.mp4" loop muted autoplay>
  </video>
  <div class="overlay">
  </div>
  <h1>Individual App
  </h1>
</div>
<div class="wrapper">
  <div class="header">
    <h1>Code Searcher</h1>
  </div>
  <div class="content">
    <div class="content-code_box_top">
      <p>▼ 検索したい音を<span>1つ</span>選んでください。</p>
      <div class="code-box-up">
        <div class="choose-code__1">
          <button class="btn-flat-border btnC">C</button>
        </div>
        <div class="choose-code__2">
          <button class="btn-flat-border btnCsha">C#</button>
        </div>
        <div class="choose-code__3">
          <button class="btn-flat-border btnD">D</button>
        </div>
        <div class="choose-code__4">
          <button class="btn-flat-border btnDsha">D#</button>
        </div>
        <div class="choose-code__5">
          <button class="btn-flat-border btnE">E </button>
        </div>
        <div class="choose-code__6">
          <button class="btn-flat-border btnF">F </button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="choose-code__7">
          <button class="btn-flat-border btnFsha">F#</button>
        </div>
        <div class="choose-code__8">
          <button class="btn-flat-border btnG">G </button>
        </div>
        <div class="choose-code__9">
          <button class="btn-flat-border btnGsha">G#</button>
        </div>
        <div class="choose-code__10">
          <button class="btn-flat-border btnA">A </button>
        </div>
        <div class="choose-code__11">
          <button class="btn-flat-border btnAsha">A#</button>
        </div>
        <div class="choose-code__12">
          <button class="btn-flat-border btnB">B </button>
        </div>
      </div>
    </div>
    <div class="content-code_box_middle">
      <p>▼ 組み合わせたい音を<span>1つ</span>選んでください。</p>
      <div class="code-box-up">
        <div class="add-code1">
          <button class="btn-flat-border btnmaj">maj</button>
        </div>
        <div class="add-code2">
          <button class="btn-flat-border btnm">m</button>
        </div>
        <div class="add-code3">
          <button class="btn-flat-border btn7">7</button>
        </div>
        <div class="add-code4">
          <button class="btn-flat-border btnCmaj7">maj7</button>
        </div>
        <div class="add-code5">
          <button class="btn-flat-border btnm7">m7</button>
        </div>
        <div class="add-code6">
          <button class="btn-flat-border btnm7-5">m7-5</button>
        </div>
        <div class="add-code7">
          <button class="btn-flat-border btnsus4">sus4</button>
        </div>
        <div class="add-code8">
          <button class="btn-flat-border btn7sus">7sus4</button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="add-code9">
          <button class="btn-flat-border btn6">6</button>
        </div>
        <div class="add-code10">
            <button class="btn-flat-border btnm6">m6</button>
          </div>
        <div class="add-code11">
            <button class="btn-flat-border btnadd9">add9</button>
          </div>
        <div class="add-code12">
            <button class="btn-flat-border btn7-9">7(9)</button>
          </div>
        <div class="add-code13">
            <button class="btn-flat-border btnm79">m7(9)</button>
          </div>
        <div class="add-code14">
            <button class="btn-flat-border btndim">dim</button>
          </div>
        <div class="add-code15">
            <button class="btn-flat-border btnaug">aug</button>
          </div>
      </div>
    </div>
    <div class="content-code_box_bottom">
      <p id='bottomP'>▼ここに表示されます</p>
      <img id='a---6' class='codeA' src="/コード表/A/A6.png">
      <img id='a---7' class='codeA' src="/コード表/A/A7.jpg">
      <img id='a7ad9' class='codeA' src="/コード表/A/A7add9.jpg">
      <img id='a7su4' class='codeA' src="/コード表/A/A7sus4.jpg">
      <img id='aadd9' class='codeA' src="/コード表/A/Aadd9.jpg">
      <img id='a-aug' class='codeA' src="/コード表/A/Aaug.jpg">
      <img id='a-dim' class='codeA' src="/コード表/A/Adim.jpg">
      <img id='a---M' class='codeA' src="/コード表/A/AM.jpg">
      <img id='am7-5' class='codeA' src="/コード表/A/Am75.jpg">
      <img id='aMaj7' class='codeA' src="/コード表/A/AM7.jpg">
      <img id='am7d9' class='codeA' src="/コード表/A/Am7add9.jpg">
      <img id='a-min' class='codeA' src="/コード表/A/Amin.jpg">
      <img id='amin6' class='codeA' src="/コード表/A/Amin6.jpg">
      <img id='amin7' class='codeA' src="/コード表/A/Amin7.jpg">
      <img id='asus4' class='codeA' src="/コード表/A/Asus4.jpg">
      <img id='as---6' class='codeAsha' src="/コード表/Asha/Asha6.jpg">
      <img id='as---7' class='codeAsha' src="/コード表/Asha/Asha7.jpg">
      <img id='as7ad9' class='codeAsha' src="/コード表/Asha/Asha7add9.jpg">
      <img id='as7su4' class='codeAsha' src="/コード表/Asha/Asha7sus4.jpg">
      <img id='asadd9' class='codeAsha' src="/コード表/Asha/Ashaadd9.jpg">
      <img id='as-aug' class='codeAsha' src="/コード表/Asha/Ashaaug.jpg">
      <img id='as-dim' class='codeAsha' src="/コード表/Asha/Ashadim.jpg">
      <img id='as---M' class='codeAsha' src="/コード表/Asha/AshaM.jpg">
      <img id='asm7-5' class='codeAsha' src="/コード表/Asha/Asham7-5.jpg">
      <img id='asMaj7' class='codeAsha' src="/コード表/Asha/AshaM7.jpg">
      <img id='asm7d9' class='codeAsha' src="/コード表/Asha/Asham7add9.jpg">
      <img id='as-min' class='codeAsha' src="/コード表/Asha/Ashamin.jpg">
      <img id='asmin6' class='codeAsha' src="/コード表/Asha/Ashamin6.jpg">
      <img id='asmin7' class='codeAsha' src="/コード表/Asha/Ashamin7.jpg">
      <img id='assus4' class='codeAsha' src="/コード表/Asha/Ashasus4.jpg">
      <img id='b---6' class='codeB' src="/コード表/B/B6.jpg">
      <img id='b---7' class='codeB' src="/コード表/B/B7.jpg">
      <img id='b7ad9' class='codeB' src="/コード表/B/B7add9.jpg">
      <img id='b7su4' class='codeB' src="/コード表/B/B7sus4.jpg">
      <img id='badd9' class='codeB' src="/コード表/B/Badd9.jpg">
      <img id='b-aug' class='codeB' src="/コード表/B/Baug.jpg">
      <img id='b-dim' class='codeB' src="/コード表/B/Bdim.jpg">
      <img id='b---M' class='codeB' src="/コード表/B/BM.jpg">
      <img id='bm7-5' class='codeB' src="/コード表/B/Bm7-5.jpg">
      <img id='bMaj7' class='codeB' src="/コード表/B/BM7.jpg">
      <img id='bm7d9' class='codeB' src="/コード表/B/Bm7add9.jpg">
      <img id='b-min' class='codeB' src="/コード表/B/Bmin.jpg">
      <img id='bmin6' class='codeB' src="/コード表/B/Bmin6.jpg">
      <img id='bmin7' class='codeB' src="/コード表/B/Bmin7.jpg">
      <img id='bsus4' class='codeB' src="/コード表/B/Bsus4.jpg">
      <img id='c---6' class='codeC' src="/コード表/C/C6.jpg">
      <img id='c---7' class='codeC' src="/コード表/C/C7.jpg">
      <img id='c7ad9' class='codeC' src="/コード表/C/C7add9.jpg">
      <img id='c7su4' class='codeC' src="/コード表/C/C7sus4.jpg">
      <img id='cadd9' class='codeC' src="/コード表/C/Cadd9.jpg">
      <img id='c-aug' class='codeC' src="/コード表/C/Caug.jpg">
      <img id='c-dim' class='codeC' src="/コード表/C/Cdim.jpg">
      <img id='c---M' class='codeC' src="/コード表/C/CM.jpg">
      <img id='cm7-5' class='codeC' src="/コード表/C/Cm75.jpg">
      <img id='cMaj7' class='codeC' src="/コード表/C/CM7.jpg">
      <img id='cm7d9' class='codeC' src="/コード表/C/Cm7add9.jpg">
      <img id='c-min' class='codeC' src="/コード表/C/Cmin.jpg">
      <img id='cmin6' class='codeC' src="/コード表/C/Cm6.jpg">
      <img id='cmin7' class='codeC' src="/コード表/C/Cmin7.jpg">
      <img id='csus4' class='codeC' src="/コード表/C/Csus4.jpg">
      <img id='cs---6' class='codeCsha' src="/コード表/Csha/Csha6.jpg">
      <img id='cs---7' class='codeCsha' src="/コード表/Csha/Csha7.jpg">
      <img id='cs7ad9' class='codeCsha' src="/コード表/Csha/Csha7add9.jpg">
      <img id='cs7su4' class='codeCsha' src="/コード表/Csha/Csha7sus4.jpg">
      <img id='csadd9' class='codeCsha' src="/コード表/Csha/Cshaadd9.jpg">
      <img id='cs-aug' class='codeCsha' src="/コード表/Csha/Cshaaug.jpg">
      <img id='cs-dim' class='codeCsha' src="/コード表/Csha/Cshadim.jpg">
      <img id='cs---M' class='codeCsha' src="/コード表/Csha/CshaM.jpg">
      <img id='csm7-5' class='codeCsha' src="/コード表/Csha/Csham7-5.jpg">
      <img id='csMaj7' class='codeCsha' src="/コード表/Csha/CshaM7.jpg">
      <img id='csm7d9' class='codeCsha' src="/コード表/Csha/Csham7add9.jpg">
      <img id='cs-min' class='codeCsha' src="/コード表/Csha/Cshamin.jpg">
      <img id='csmin6' class='codeCsha' src="/コード表/Csha/Cshamin6.jpg">
      <img id='csmin7' class='codeCsha' src="/コード表/Csha/Cshamin7.jpg">
      <img id='cssus4' class='codeCsha' src="/コード表/Csha/Cshasus4.jpg">
      <img id='d---6' class='codeD' src="/コード表/D/D6.jpg">
      <img id='d---7' class='codeD' src="/コード表/D/D7.jpg">
      <img id='d7ad9' class='codeD' src="/コード表/D/D7add9.jpg">
      <img id='d7su4' class='codeD' src="/コード表/D/D7sus4.jpg">
      <img id='dadd9' class='codeD' src="/コード表/D/Dadd9.jpg">
      <img id='d-aug' class='codeD' src="/コード表/D/Daug.jpg">
      <img id='d-dim' class='codeD' src="/コード表/D/Ddim.jpg">
      <img id='d---M' class='codeD' src="/コード表/D/DM.jpg">
      <img id='dm7-5' class='codeD' src="/コード表/D/Dm7-5.jpg">
      <img id='dMaj7' class='codeD' src="/コード表/D/DM7.jpg">
      <img id='dm7d9' class='codeD' src="/コード表/D/Dm7add9.jpg">
      <img id='d-min' class='codeD' src="/コード表/D/Dmin.jpg">
      <img id='dmin6' class='codeD' src="/コード表/D/Dm6.jpg">
      <img id='dmin7' class='codeD' src="/コード表/D/Dmin7.jpg">
      <img id='dsus4' class='codeD' src="/コード表/D/Dsus4.jpg">
      <img id='ds---6' class='codeDsha' src="/コード表/Dsha/Dsha6.jpg">
      <img id='ds---7' class='codeDsha' src="/コード表/Dsha/Dsha7.jpg">
      <img id='ds7ad9' class='codeDsha' src="/コード表/Dsha/Dsha7add9.jpg">
      <img id='ds7su4' class='codeDsha' src="/コード表/Dsha/Dsha7sus4.jpg">
      <img id='dsadd9' class='codeDsha' src="/コード表/Dsha/Dshaadd9.jpg">
      <img id='ds-aug' class='codeDsha' src="/コード表/Dsha/Dshaaug.jpg">
      <img id='ds-dim' class='codeDsha' src="/コード表/Dsha/Dshadim.jpg">
      <img id='ds---M' class='codeDsha' src="/コード表/Dsha/DshaM.jpg">
      <img id='dsm7-5' class='codeDsha' src="/コード表/Dsha/Dsham7-5.jpg">
      <img id='dsMaj7' class='codeDsha' src="/コード表/Dsha/DshaM7.jpg">
      <img id='dsm7d9' class='codeDsha' src="/コード表/Dsha/Dsham7add9.jpg">
      <img id='ds-min' class='codeDsha' src="/コード表/Dsha/Dshamin.jpg">
      <img id='dsmin6' class='codeDsha' src="/コード表/Dsha/Dshamin6.jpg">
      <img id='dsmin7' class='codeDsha' src="/コード表/Dsha/Dshamin7.jpg">
      <img id='dssus4' class='codeDsha' src="/コード表/Dsha/Dshasus4.jpg">
      <img id='e---6' class='codeE' src="/コード表/E/E6.jpg">
      <img id='e---7' class='codeE' src="/コード表/E/E7.jpg">
      <img id='e7ad9' class='codeE' src="/コード表/E/E7add9.jpg">
      <img id='e7su4' class='codeE' src="/コード表/E/E7sus4.jpg">
      <img id='eadd9' class='codeE' src="/コード表/E/Eadd9.jpg">
      <img id='e-aug' class='codeE' src="/コード表/E/Eaug.jpg">
      <img id='e-dim' class='codeE' src="/コード表/E/Edim.jpg">
      <img id='e---M' class='codeE' src="/コード表/E/EM.jpg">
      <img id='em7-5' class='codeE' src="/コード表/E/Em7-5.jpg">
      <img id='eMaj7' class='codeE' src="/コード表/E/EM7.jpg">
      <img id='em7d9' class='codeE' src="/コード表/E/Em7add9.jpg">
      <img id='e-min' class='codeE' src="/コード表/E/Emin.jpg">
      <img id='emin6' class='codeE' src="/コード表/E/Emin6.jpg">
      <img id='emin7' class='codeE' src="/コード表/E/Emin7.jpg">
      <img id='esus4' class='codeE' src="/コード表/E/Esus4.jpg">
      <img id='f---6' class='codeF' src="/コード表/F/F6.jpg">
      <img id='f---7' class='codeF' src="/コード表/F/F7.jpg">
      <img id='f7ad9' class='codeF' src="/コード表/F/F7add9.jpg">
      <img id='f7su4' class='codeF' src="/コード表/F/F7sus4.jpg">
      <img id='fadd9' class='codeF' src="/コード表/F/Fadd9.jpg">
      <img id='f-aug' class='codeF' src="/コード表/F/Faug.jpg">
      <img id='f-dim' class='codeF' src="/コード表/F/Fdim.jpg">
      <img id='f---M' class='codeF' src="/コード表/F/FM.jpg">
      <img id='fm7-5' class='codeF' src="/コード表/F/Fm7-5.jpg">
      <img id='fMaj7' class='codeF' src="/コード表/F/FM7.jpg">
      <img id='fm7d9' class='codeF' src="/コード表/F/Fm7add9.jpg">
      <img id='f-min' class='codeF' src="/コード表/F/Fmin.jpg">
      <img id='fmin6' class='codeF' src="/コード表/F/Fmin6.jpg">
      <img id='fmin7' class='codeF' src="/コード表/F/Fmin7.jpg">
      <img id='fsus4' class='codeF' src="/コード表/F/Fsus4.jpg">
      <img id='fs---6' class='codeFsha' src="/コード表/Fsha/Fsha6.jpg">
      <img id='fs---7' class='codeFsha' src="/コード表/Fsha/Fsha7.jpg">
      <img id='fs7ad9' class='codeFsha' src="/コード表/Fsha/Fsha7add9.jpg">
      <img id='fs7su4' class='codeFsha' src="/コード表/Fsha/Fsha7sus4.jpg">
      <img id='fsadd9' class='codeFsha' src="/コード表/Fsha/Fshaadd9.jpg">
      <img id='fs-aug' class='codeFsha' src="/コード表/Fsha/Fshaaug.jpg">
      <img id='fs-dim' class='codeFsha' src="/コード表/Fsha/Fshadim.jpg">
      <img id='fs---M' class='codeFsha' src="/コード表/Fsha/FshaM.jpg">
      <img id='fsm7-5' class='codeFsha' src="/コード表/Fsha/Fsham7-5.jpg">
      <img id='fsMaj7' class='codeFsha' src="/コード表/Fsha/FshaM7.jpg">
      <img id='fsm7d9' class='codeFsha' src="/コード表/Fsha/Fsham7add9.jpg">
      <img id='fs-min' class='codeFsha' src="/コード表/Fsha/Fshamin.jpg">
      <img id='fsmin6' class='codeFsha' src="/コード表/Fsha/Fshamin6.jpg">
      <img id='fsmin7' class='codeFsha' src="/コード表/Fsha/Fshamin7.jpg">
      <img id='fssus4' class='codeFsha' src="/コード表/Fsha/Fshasus4.jpg">
      <img id='g---6' class='codeG' src="/コード表/G/G6.jpg">
      <img id='g---7' class='codeG' src="/コード表/G/G7.jpg">
      <img id='g7ad9' class='codeG' src="/コード表/G/G7add9.jpg">
      <img id='g7su4' class='codeG' src="/コード表/G/G7sus4.jpg">
      <img id='gadd9' class='codeG' src="/コード表/G/Gadd9.jpg">
      <img id='g-aug' class='codeG' src="/コード表/G/Gaug.jpg">
      <img id='g-dim' class='codeG' src="/コード表/G/Gdim.jpg">
      <img id='g---M' class='codeG' src="/コード表/G/GM.jpg">
      <img id='gm7-5' class='codeG' src="/コード表/G/Gm7-5.jpg">
      <img id='gMaj7' class='codeG' src="/コード表/G/GM7.jpg">
      <img id='gm7d9' class='codeG' src="/コード表/G/Gm7add9.jpg">
      <img id='g-min' class='codeG' src="/コード表/G/Gmin.jpg">
      <img id='gmin6' class='codeG' src="/コード表/G/Gmin6.jpg">
      <img id='gmin7' class='codeG' src="/コード表/G/Gmin7.jpg">
      <img id='gsus4' class='codeG' src="/コード表/G/Gsus4.jpg">
      <img id='gs---6' class='codeGsha' src="/コード表/Gsha/Gsha6.jpg">
      <img id='gs---7' class='codeGsha' src="/コード表/Gsha/Gsha7.jpg">
      <img id='gs7ad9' class='codeGsha' src="/コード表/Gsha/Gsha7add9.jpg">
      <img id='gs7su4' class='codeGsha' src="/コード表/Gsha/Gsha7sus4.jpg">
      <img id='gsadd9' class='codeGsha' src="/コード表/Gsha/Gshaadd9.jpg">
      <img id='gs-aug' class='codeGsha' src="/コード表/Gsha/Gshaaug.jpg">
      <img id='gs-dim' class='codeGsha' src="/コード表/Gsha/Gshadim.jpg">
      <img id='gs---M' class='codeGsha' src="/コード表/Gsha/GshaM.jpg">
      <img id='gsm7-5' class='codeGsha' src="/コード表/Gsha/Gsham7-5.jpg">
      <img id='gsMaj7' class='codeGsha' src="/コード表/Gsha/GshaM7.jpg">
      <img id='gsm7d9' class='codeGsha' src="/コード表/Gsha/Gsham7add9.jpg">
      <img id='gs-min' class='codeGsha' src="/コード表/Gsha/Gshamin.jpg">
      <img id='gsmin6' class='codeGsha' src="/コード表/Gsha/Gshamin6.jpg">
      <img id='gsmin7' class='codeGsha' src="/コード表/Gsha/Gshamin7.jpg">
      <img id='gssus4' class='codeGsha' src="/コード表/Gsha/Gshasus4.jpg">
      
    </div>

  </div>
  <div class="footer">
    <small>Copyright©️Kanzaki</small>
  </div>
</div>
</body>