<body>
<div class="bg-video-wrap">
  <video src="pixta.mp4" loop muted autoplay>
  </video>
  <div class="overlay">
  </div>
  <h1>Individual App<br>↓Scroll
  </h1>
</div>
<div class="wrapper">
  <div class="header">
    <h1>Code Searcher</h1>
  </div>
  <div class="content">
    <div class="content-code_box_top">
      <p>▼ 検索したい音を<span>1つ</span>選んでください。</p>
      <div class="code-box-up">
        <div class="choose-code__1">
          <button class="btn-flat-border btnC">C</button>
        </div>
        <div class="choose-code__2">
          <button class="btn-flat-border btnCsha">C#</button>
        </div>
        <div class="choose-code__3">
          <button class="btn-flat-border btnD">D</button>
        </div>
        <div class="choose-code__4">
          <button class="btn-flat-border btnDsha">D#</button>
        </div>
        <div class="choose-code__5">
          <button class="btn-flat-border btnE">E </button>
        </div>
        <div class="choose-code__6">
          <button class="btn-flat-border btnF">F </button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="choose-code__7">
          <button class="btn-flat-border btnFsha">F#</button>
        </div>
        <div class="choose-code__8">
          <button class="btn-flat-border btnG">G </button>
        </div>
        <div class="choose-code__9">
          <button class="btn-flat-border btnGsha">G#</button>
        </div>
        <div class="choose-code__10">
          <button class="btn-flat-border btnA">A </button>
        </div>
        <div class="choose-code__11">
          <button class="btn-flat-border btnAsha">A#</button>
        </div>
        <div class="choose-code__12">
          <button class="btn-flat-border btnB">B </button>
        </div>
      </div>
    </div>
    <div class="content-code_box_middle">
      <p>▼ 組み合わせたい音を<span>1つ</span>選んでください。</p>
      <div class="code-box-up">
        <div class="add-code1">
          <button class="btn-flat-border btnmaj">maj</button>
        </div>
        <div class="add-code2">
          <button class="btn-flat-border btnm">m</button>
        </div>
        <div class="add-code3">
          <button class="btn-flat-border btn7">7</button>
        </div>
        <div class="add-code4">
          <button class="btn-flat-border btnmaj7">maj7</button>
        </div>
        <div class="add-code5">
          <button class="btn-flat-border btnm7">m7</button>
        </div>
        <div class="add-code6">
          <button class="btn-flat-border btnm7-5">m7-5</button>
        </div>
        <div class="add-code7">
          <button class="btn-flat-border btnsus4">sus4</button>
        </div>
        <div class="add-code8">
          <button class="btn-flat-border btn7sus">7sus4</button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="add-code9">
          <button class="btn-flat-border btn6">6</button>
        </div>
        <div class="add-code10">
            <button class="btn-flat-border btnm6">m6</button>
          </div>
        <div class="add-code11">
            <button class="btn-flat-border btnadd9">add9</button>
          </div>
        <div class="add-code12">
            <button class="btn-flat-border btn7-9">7(9)</button>
          </div>
        <div class="add-code13">
            <button class="btn-flat-border btnm79">m7(9)</button>
          </div>
        <div class="add-code14">
            <button class="btn-flat-border btndim">dim</button>
          </div>
        <div class="add-code15">
            <button class="btn-flat-border btnaug">aug</button>
          </div>
      </div>
    </div>
    <div class="content-code_box_bottom">
      <p id='bottomP'>▼ここに表示されます</p>
      <img class='codeA c---6' src="/コード表/A/A6.png">
      <img class='codeA c---7' src="/コード表/A/A7.jpg">
      <img class='codeA c7ad9' src="/コード表/A/A7add9.jpg">
      <img class='codeA c7su4' src="/コード表/A/A7sus4.jpg">
      <img class='codeA cadd9' src="/コード表/A/Aadd9.jpg">
      <img class='codeA c-aug' src="/コード表/A/Aaug.jpg">
      <img class='codeA c-dim' src="/コード表/A/Adim.jpg">
      <img class='codeA c---M' src="/コード表/A/AM.jpg">
      <img class='codeA cm7-5' src="/コード表/A/Am75.jpg">
      <img class='codeA cMaj7' src="/コード表/A/AM7.jpg">
      <img class='codeA cm7d9' src="/コード表/A/Am7add9.jpg">
      <img class='codeA c-min' src="/コード表/A/Amin.jpg">
      <img class='codeA cmin6' src="/コード表/A/Amin6.jpg">
      <img class='codeA cmin7' src="/コード表/A/Amin7.jpg">
      <img class='codeA csus4' src="/コード表/A/Asus4.jpg">
      <img class='codeAsha c---6' src="/コード表/Asha/Asha6.jpg">
      <img class='codeAsha c---7' src="/コード表/Asha/Asha7.jpg">
      <img class='codeAsha c7ad9' src="/コード表/Asha/Asha7add9.jpg">
      <img class='codeAsha c7su4' src="/コード表/Asha/Asha7sus4.jpg">
      <img class='codeAsha cadd9' src="/コード表/Asha/Ashaadd9.jpg">
      <img class='codeAsha c-aug' src="/コード表/Asha/Ashaaug.jpg">
      <img class='codeAsha c-dim' src="/コード表/Asha/Ashadim.jpg">
      <img class='codeAsha c---M' src="/コード表/Asha/AshaM.jpg">
      <img class='codeAsha cm7-5' src="/コード表/Asha/Asham7-5.jpg">
      <img class='codeAsha cMaj7' src="/コード表/Asha/AshaM7.jpg">
      <img class='codeAsha cm7d9' src="/コード表/Asha/Asham7add9.jpg">
      <img class='codeAsha c-min' src="/コード表/Asha/Ashamin.jpg">
      <img class='codeAsha cmin6' src="/コード表/Asha/Ashamin6.jpg">
      <img class='codeAsha cmin7' src="/コード表/Asha/Ashamin7.jpg">
      <img class='codeAsha csus4' src="/コード表/Asha/Ashasus4.jpg">
      <img class='codeB c---6' src="/コード表/B/B6.jpg">
      <img class='codeB c---7' src="/コード表/B/B7.jpg">
      <img class='codeB c7ad9' src="/コード表/B/B7add9.jpg">
      <img class='codeB c7su4' src="/コード表/B/B7sus4.jpg">
      <img class='codeB cadd9' src="/コード表/B/Badd9.jpg">
      <img class='codeB c-aug' src="/コード表/B/Baug.jpg">
      <img class='codeB c-dim' src="/コード表/B/Bdim.jpg">
      <img class='codeB c---M' src="/コード表/B/BM.jpg">
      <img class='codeB cm7-5' src="/コード表/B/Bm7-5.jpg">
      <img class='codeB cMaj7' src="/コード表/B/BM7.jpg">
      <img class='codeB cm7d9' src="/コード表/B/Bm7add9.jpg">
      <img class='codeB c-min' src="/コード表/B/Bmin.jpg">
      <img class='codeB cmin6' src="/コード表/B/Bmin6.jpg">
      <img class='codeB cmin7' src="/コード表/B/Bmin7.jpg">
      <img class='codeB csus4' src="/コード表/B/Bsus4.jpg">
      <img class='codeC c---6' src="/コード表/C/C6.jpg">
      <img class='codeC c---7' src="/コード表/C/C7.jpg">
      <img class='codeC c7ad9' src="/コード表/C/C7add9.jpg">
      <img class='codeC c7su4' src="/コード表/C/C7sus4.jpg">
      <img class='codeC cadd9' src="/コード表/C/Cadd9.jpg">
      <img class='codeC c-aug' src="/コード表/C/Caug.jpg">
      <img class='codeC c-dim' src="/コード表/C/Cdim.jpg">
      <img class='codeC c---M' src="/コード表/C/CM.jpg">
      <img class='codeC cm7-5' src="/コード表/C/Cm75.jpg">
      <img class='codeC cMaj7' src="/コード表/C/CM7.jpg">
      <img class='codeC cm7d9' src="/コード表/C/Cm7add9.jpg">
      <img class='codeC c-min' src="/コード表/C/Cmin.jpg">
      <img class='codeC cmin6' src="/コード表/C/Cm6.jpg">
      <img class='codeC cmin7' src="/コード表/C/Cmin7.jpg">
      <img class='codeC csus4' src="/コード表/C/Csus4.jpg">
      <img class='codeCsha c---6' src="/コード表/Csha/Csha6.jpg">
      <img class='codeCsha c---7' src="/コード表/Csha/Csha7.jpg">
      <img class='codeCsha c7ad9' src="/コード表/Csha/Csha7add9.jpg">
      <img class='codeCsha c7su4' src="/コード表/Csha/Csha7sus4.jpg">
      <img class='codeCsha cadd9' src="/コード表/Csha/Cshaadd9.jpg">
      <img class='codeCsha c-aug' src="/コード表/Csha/Cshaaug.jpg">
      <img class='codeCsha c-dim' src="/コード表/Csha/Cshadim.jpg">
      <img class='codeCsha c---M' src="/コード表/Csha/CshaM.jpg">
      <img class='codeCsha cm7-5' src="/コード表/Csha/Csham7-5.jpg">
      <img class='codeCsha cMaj7' src="/コード表/Csha/CshaM7.jpg">
      <img class='codeCsha cm7d9' src="/コード表/Csha/Csham7add9.jpg">
      <img class='codeCsha c-min' src="/コード表/Csha/Cshamin.jpg">
      <img class='codeCsha cmin6' src="/コード表/Csha/Cshamin6.jpg">
      <img class='codeCsha cmin7' src="/コード表/Csha/Cshamin7.jpg">
      <img class='codeCsha csus4' src="/コード表/Csha/Cshasus4.jpg">
      <img class='codeD c---6' src="/コード表/D/D6.jpg">
      <img class='codeD c---7' src="/コード表/D/D7.jpg">
      <img class='codeD c7ad9' src="/コード表/D/D7add9.jpg">
      <img class='codeD c7su4' src="/コード表/D/D7sus4.jpg">
      <img class='codeD cadd9' src="/コード表/D/Dadd9.jpg">
      <img class='codeD c-aug' src="/コード表/D/Daug.jpg">
      <img class='codeD c-dim' src="/コード表/D/Ddim.jpg">
      <img class='codeD c---M' src="/コード表/D/DM.jpg">
      <img class='codeD cm7-5' src="/コード表/D/Dm7-5.jpg">
      <img class='codeD cMaj7' src="/コード表/D/DM7.jpg">
      <img class='codeD cm7d9' src="/コード表/D/Dm7add9.jpg">
      <img class='codeD c-min' src="/コード表/D/Dmin.jpg">
      <img class='codeD cmin6' src="/コード表/D/Dm6.jpg">
      <img class='codeD cmin7' src="/コード表/D/Dmin7.jpg">
      <img class='codeD csus4' src="/コード表/D/Dsus4.jpg">
      <img class='codeDsha c---6' src="/コード表/Dsha/Dsha6.jpg">
      <img class='codeDsha c---7' src="/コード表/Dsha/Dsha7.jpg">
      <img class='codeDsha c7ad9' src="/コード表/Dsha/Dsha7add9.jpg">
      <img class='codeDsha c7su4' src="/コード表/Dsha/Dsha7sus4.jpg">
      <img class='codeDsha cadd9' src="/コード表/Dsha/Dshaadd9.jpg">
      <img class='codeDsha c-aug' src="/コード表/Dsha/Dshaaug.jpg">
      <img class='codeDsha c-dim' src="/コード表/Dsha/Dshadim.jpg">
      <img class='codeDsha c---M' src="/コード表/Dsha/DshaM.jpg">
      <img class='codeDsha cm7-5' src="/コード表/Dsha/Dsham7-5.jpg">
      <img class='codeDsha cMaj7' src="/コード表/Dsha/DshaM7.jpg">
      <img class='codeDsha cm7d9' src="/コード表/Dsha/Dsham7add9.jpg">
      <img class='codeDsha c-min' src="/コード表/Dsha/Dshamin.jpg">
      <img class='codeDsha cmin6' src="/コード表/Dsha/Dshamin6.jpg">
      <img class='codeDsha cmin7' src="/コード表/Dsha/Dshamin7.jpg">
      <img class='codeDsha csus4' src="/コード表/Dsha/Dshasus4.jpg">
      <img class='codeE c---6' src="/コード表/E/E6.jpg">
      <img class='codeE c---7' src="/コード表/E/E7.jpg">
      <img class='codeE c7ad9' src="/コード表/E/E7add9.jpg">
      <img class='codeE c7su4' src="/コード表/E/E7sus4.jpg">
      <img class='codeE cadd9' src="/コード表/E/Eadd9.jpg">
      <img class='codeE c-aug' src="/コード表/E/Eaug.jpg">
      <img class='codeE c-dim' src="/コード表/E/Edim.jpg">
      <img class='codeE c---M' src="/コード表/E/EM.jpg">
      <img class='codeE cm7-5' src="/コード表/E/Em7-5.jpg">
      <img class='codeE cMaj7' src="/コード表/E/EM7.jpg">
      <img class='codeE cm7d9' src="/コード表/E/Em7add9.jpg">
      <img class='codeE c-min' src="/コード表/E/Emin.jpg">
      <img class='codeE cmin6' src="/コード表/E/Emin6.jpg">
      <img class='codeE cmin7' src="/コード表/E/Emin7.jpg">
      <img class='codeE csus4' src="/コード表/E/Esus4.jpg">
      <img class='codeF c---6' src="/コード表/F/F6.jpg">
      <img class='codeF c---7' src="/コード表/F/F7.jpg">
      <img class='codeF c7ad9' src="/コード表/F/F7add9.jpg">
      <img class='codeF c7su4' src="/コード表/F/F7sus4.jpg">
      <img class='codeF cadd9' src="/コード表/F/Fadd9.jpg">
      <img class='codeF c-aug' src="/コード表/F/Faug.jpg">
      <img class='codeF c-dim' src="/コード表/F/Fdim.jpg">
      <img class='codeF c---M' src="/コード表/F/FM.jpg">
      <img class='codeF cm7-5' src="/コード表/F/Fm7-5.jpg">
      <img class='codeF cMaj7' src="/コード表/F/FM7.jpg">
      <img class='codeF cm7d9' src="/コード表/F/Fm7add9.jpg">
      <img class='codeF c-min' src="/コード表/F/Fmin.jpg">
      <img class='codeF cmin6' src="/コード表/F/Fmin6.jpg">
      <img class='codeF cmin7' src="/コード表/F/Fmin7.jpg">
      <img class='codeF csus4' src="/コード表/F/Fsus4.jpg">
      <img class='codeFsha c---6' src="/コード表/Fsha/Fsha6.jpg">
      <img class='codeFsha c---7' src="/コード表/Fsha/Fsha7.jpg">
      <img class='codeFsha c7ad9' src="/コード表/Fsha/Fsha7add9.jpg">
      <img class='codeFsha c7su4' src="/コード表/Fsha/Fsha7sus4.jpg">
      <img class='codeFsha cadd9' src="/コード表/Fsha/Fshaadd9.jpg">
      <img class='codeFsha c-aug' src="/コード表/Fsha/Fshaaug.jpg">
      <img class='codeFsha c-dim' src="/コード表/Fsha/Fshadim.jpg">
      <img class='codeFsha c---M' src="/コード表/Fsha/FshaM.jpg">
      <img class='codeFsha cm7-5' src="/コード表/Fsha/Fsham7-5.jpg">
      <img class='codeFsha cMaj7' src="/コード表/Fsha/FshaM7.jpg">
      <img class='codeFsha cm7d9' src="/コード表/Fsha/Fsham7add9.jpg">
      <img class='codeFsha c-min' src="/コード表/Fsha/Fshamin.jpg">
      <img class='codeFsha cmin6' src="/コード表/Fsha/Fshamin6.jpg">
      <img class='codeFsha cmin7' src="/コード表/Fsha/Fshamin7.jpg">
      <img class='codeFsha csus4' src="/コード表/Fsha/Fshasus4.jpg">
      <img class='codeG c---6' src="/コード表/G/G6.jpg">
      <img class='codeG c---7' src="/コード表/G/G7.jpg">
      <img class='codeG c7ad9' src="/コード表/G/G7add9.jpg">
      <img class='codeG c7su4' src="/コード表/G/G7sus4.jpg">
      <img class='codeG cadd9' src="/コード表/G/Gadd9.jpg">
      <img class='codeG c-aug' src="/コード表/G/Gaug.jpg">
      <img class='codeG c-dim' src="/コード表/G/Gdim.jpg">
      <img class='codeG c---M' src="/コード表/G/GM.jpg">
      <img class='codeG cm7-5' src="/コード表/G/Gm7-5.jpg">
      <img class='codeG cMaj7' src="/コード表/G/GM7.jpg">
      <img class='codeG cm7d9' src="/コード表/G/Gm7add9.jpg">
      <img class='codeG c-min' src="/コード表/G/Gmin.jpg">
      <img class='codeG cmin6' src="/コード表/G/Gmin6.jpg">
      <img class='codeG cmin7' src="/コード表/G/Gmin7.jpg">
      <img class='codeG csus4' src="/コード表/G/Gsus4.jpg">
      <img class='codeGsha c---6' src="/コード表/Gsha/Gsha6.jpg">
      <img class='codeGsha c---7' src="/コード表/Gsha/Gsha7.jpg">
      <img class='codeGsha c7ad9' src="/コード表/Gsha/Gsha7add9.jpg">
      <img class='codeGsha c7su4' src="/コード表/Gsha/Gsha7sus4.jpg">
      <img class='codeGsha cadd9' src="/コード表/Gsha/Gshaadd9.jpg">
      <img class='codeGsha c-aug' src="/コード表/Gsha/Gshaaug.jpg">
      <img class='codeGsha c-dim' src="/コード表/Gsha/Gshadim.jpg">
      <img class='codeGsha c---M' src="/コード表/Gsha/GshaM.jpg">
      <img class='codeGsha cm7-5' src="/コード表/Gsha/Gsham7-5.jpg">
      <img class='codeGsha cMaj7' src="/コード表/Gsha/GshaM7.jpg">
      <img class='codeGsha cm7d9' src="/コード表/Gsha/Gsham7add9.jpg">
      <img class='codeGsha c-min' src="/コード表/Gsha/Gshamin.jpg">
      <img class='codeGsha cmin6' src="/コード表/Gsha/Gshamin6.jpg">
      <img class='codeGsha cmin7' src="/コード表/Gsha/Gshamin7.jpg">
      <img class='codeGsha csus4' src="/コード表/Gsha/Gshasus4.jpg">
      
    </div>

  </div>
  <div class="footer">
    <small>Copyright©️Kanzaki</small>
  </div>
</div>
</body>