<body>

<div class="wrapper">
  <div class="header">
    <h1>Code Searcher</h1>
  </div>
  <div class="content">
    <div class="content-code_box_top">
      <p>▼ 検索したい音を選んでください。</p>
      <div class="code-box-up">
        <div class="choose-code__1">
          <button class="btn-flat-border">C</button>
        </div>
        <div class="choose-code__2">
          <button class="btn-flat-border">C#</button>
        </div>
        <div class="choose-code__3">
          <button class="btn-flat-border">D</button>
        </div>
        <div class="choose-code__4">
          <button class="btn-flat-border">D#</button>
        </div>
        <div class="choose-code__5">
          <button class="btn-flat-border">E </button>
        </div>
        <div class="choose-code__6">
          <button class="btn-flat-border">F </button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="choose-code__7">
          <button class="btn-flat-border">F#</button>
        </div>
        <div class="choose-code__8">
          <button class="btn-flat-border">G </button>
        </div>
        <div class="choose-code__9">
          <button class="btn-flat-border">G#</button>
        </div>
        <div class="choose-code__10">
          <button class="btn-flat-border">A </button>
        </div>
        <div class="choose-code__11">
          <button class="btn-flat-border">A#</button>
        </div>
        <div class="choose-code__12">
          <button class="btn-flat-border">B </button>
        </div>
      </div>
    </div>
    <div class="content-code_box_middle">
      <p>▼ 組み合わせたい音を選んでください。</p>
      <div class="code-box-up">
        <div class="add-code1">
          <button class="btn-flat-border">maj</button>
        </div>
        <div class="add-code2">
          <button class="btn-flat-border">m</button>
        </div>
        <div class="add-code3">
          <button class="btn-flat-border">7</button>
        </div>
        <div class="add-code4">
          <button class="btn-flat-border">maj7</button>
        </div>
        <div class="add-code5">
          <button class="btn-flat-border">m7</button>
        </div>
        <div class="add-code6">
          <button class="btn-flat-border">m7-5</button>
        </div>
        <div class="add-code7">
          <button class="btn-flat-border">sus4</button>
        </div>
        <div class="add-code8">
          <button class="btn-flat-border">7sus</button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="add-code9">
          <button class="btn-flat-border">6</button>
        </div>
        <div class="add-code10">
            <button class="btn-flat-border">m6</button>
          </div>
        <div class="add-code11">
            <button class="btn-flat-border">add9</button>
          </div>
        <div class="add-code12">
            <button class="btn-flat-border">7(9)</button>
          </div>
        <div class="add-code13">
            <button class="btn-flat-border">m7(9)</button>
          </div>
        <div class="add-code14">
            <button class="btn-flat-border">dim</button>
          </div>
        <div class="add-code15">
            <button class="btn-flat-border">aug</button>
          </div>
      </div>
    </div>
    <div class="content-code_box_bottom">
      <%=image_tag"/コード表/A/A6_page-0001.jpg", alt:"Amaj"%>
      
    
    </div>

  </div>
  <div class="footer">
    <small>Copyright©️Kanzaki</small>
  </div>
</div>
</body>