<body>
<div class="bg-video-wrap">
  <video src="pixta.mp4" loop muted autoplay>
  </video>
  <div class="overlay">
  </div>
  <h1>Individual App
  </h1>
</div>
<div class="wrapper">
  <div class="header">
    <h1>Code Searcher</h1>
  </div>
  <div class="content">
    <div class="content-code_box_top">
      <p>▼ 検索したい音を選んでください。</p>
      <div class="code-box-up">
        <div class="choose-code__1">
          <button class="btn-flat-border btnC">C</button>
        </div>
        <div class="choose-code__2">
          <button class="btn-flat-border btnCsha">C#</button>
        </div>
        <div class="choose-code__3">
          <button class="btn-flat-border btnD">D</button>
        </div>
        <div class="choose-code__4">
          <button class="btn-flat-border btnDsha">D#</button>
        </div>
        <div class="choose-code__5">
          <button class="btn-flat-border btnE">E </button>
        </div>
        <div class="choose-code__6">
          <button class="btn-flat-border btnF">F </button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="choose-code__7">
          <button class="btn-flat-border btnFsha">F#</button>
        </div>
        <div class="choose-code__8">
          <button class="btn-flat-border btnG">G </button>
        </div>
        <div class="choose-code__9">
          <button class="btn-flat-border btnGsha">G#</button>
        </div>
        <div class="choose-code__10">
          <button class="btn-flat-border btnA">A </button>
        </div>
        <div class="choose-code__11">
          <button class="btn-flat-border btnAsha">A#</button>
        </div>
        <div class="choose-code__12">
          <button class="btn-flat-border btnB">B </button>
        </div>
      </div>
    </div>
    <div class="content-code_box_middle">
      <p>▼ 組み合わせたい音を選んでください。</p>
      <div class="code-box-up">
        <div class="add-code1">
          <button class="btn-flat-border btnmaj">maj</button>
        </div>
        <div class="add-code2">
          <button class="btn-flat-border btnm">m</button>
        </div>
        <div class="add-code3">
          <button class="btn-flat-border btn7">7</button>
        </div>
        <div class="add-code4">
          <button class="btn-flat-border btnCmaj7">maj7</button>
        </div>
        <div class="add-code5">
          <button class="btn-flat-border btnm7">m7</button>
        </div>
        <div class="add-code6">
          <button class="btn-flat-border btnm7-5">m7-5</button>
        </div>
        <div class="add-code7">
          <button class="btn-flat-border btnsus4">sus4</button>
        </div>
        <div class="add-code8">
          <button class="btn-flat-border btn7sus">7sus4</button>
        </div>
      </div>
      <div class="code-box-down">
        <div class="add-code9">
          <button class="btn-flat-border btn6">6</button>
        </div>
        <div class="add-code10">
            <button class="btn-flat-border btnm6">m6</button>
          </div>
        <div class="add-code11">
            <button class="btn-flat-border btnadd9">add9</button>
          </div>
        <div class="add-code12">
            <button class="btn-flat-border btn7-9">7(9)</button>
          </div>
        <div class="add-code13">
            <button class="btn-flat-border btnm79">m7(9)</button>
          </div>
        <div class="add-code14">
            <button class="btn-flat-border btndim">dim</button>
          </div>
        <div class="add-code15">
            <button class="btn-flat-border btnaug">aug</button>
          </div>
      </div>
    </div>
    <div class="content-code_box_bottom">
      <img src="/コード表/Csha/Csha6.jpg">
      <img src="/コード表/Csha/Csha7.jpg">
      <img src="/コード表/Csha/Csha7add9.jpg">
      <img src="/コード表/Csha/Csha7sus4.jpg">
      <img src="/コード表/Csha/Cshaadd9.jpg">
      <img src="/コード表/Csha/Cshaaug.jpg">
      <img src="/コード表/Csha/Cshadim.jpg">
      <img src="/コード表/Csha/CshaM.jpg">
      <img src="/コード表/Csha/Csham7-5.jpg">
      <img src="/コード表/Csha/CshaM7.jpg">
      <img src="/コード表/Csha/Csham7add9.jpg">
      <img src="/コード表/Csha/Cshamin.jpg">
      <img src="/コード表/Csha/Cshamin6.jpg">
      <img src="/コード表/Csha/Cshamin7.jpg">
      <img src="/コード表/Csha/Cshasus4.jpg">
    </div>

  </div>
  <div class="footer">
    <small>Copyright©️Kanzaki</small>
  </div>
</div>
</body>